@model ForumApp.Models.Section
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<style>
    body {
        background-color: #fef6ec;
        font-family: 'Noto Serif', serif;
        color: #3f3d3d;
    }


    .row .btn {
        outline-color: black;
        background-color: #3f3d3d;
        color: #fef6ec;
    }

        .row .btn:hover {
            background-color: #c7c1b9;
            color: #3f3d3d;
        }
</style>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Sections/Index/">Sections</a></li>
        <li class="breadcrumb-item"><a href="/Sections/Show/@Model.Id">@Model.SectionName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Section</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit section</h4>
    </div>
</div>
<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
        @using (Html.BeginForm(method: FormMethod.Post, actionName: "Edit", controllerName:"Sections", routeValues: new {id = Model.Id}))
        {
            @Html.Label("SectionName", "Numele sectiunii")
            <br />
            @Html.Editor("SectionName", new {htmlAttributes = new {@class = "form-control"}})
            <br /><br />

            @Html.HiddenFor(m => m.CountOfForums);
            <label>Select access level</label>
            @Html.DropDownListFor(m => m.SectionType,
                        new SelectList(Model.Sect, "Value", "Text"), "Cine poate avea acces la aceasta sectiune",
                        new { @class = "form-control" })
            <br />
            <button class="btn btn-sm " type="submit">Editeaza sectiunea</button>
        }
        </div>
    </div>
</div>